# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [26]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import os
import json

# Import API key
from api_keys import geoapify_key

In [27]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")

# Display sample data
city_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Nānākuli,100,US,1692240975,52,21.3906,-158.1547,87.75,11.50
1,Talnakh,0,RU,1692240975,55,69.4865,88.3972,55.38,0.65
2,Tiksi,100,RU,1692240975,95,71.6872,128.8694,38.46,9.28
3,Nouadhibou,20,MR,1692240976,78,20.9310,-17.0347,78.78,6.91
4,Erdenet,30,MN,1692240976,66,49.0333,104.0833,57.65,4.05
...,...,...,...,...,...,...,...,...,...
556,Mata-Utu,2,WF,1692241129,74,-13.2816,-176.1745,82.17,13.98
557,Beckley,20,US,1692241008,94,37.7782,-81.1882,63.01,0.00
558,Marsh Harbour,100,BS,1692241129,78,26.5412,-77.0636,84.40,14.63
559,Tlaltenango de Sánchez Román,94,MX,1692241129,41,21.7833,-103.3167,73.29,8.70
560,Bengkulu,15,ID,1692241130,70,-3.8004,102.2655,83.03,8.03

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [28]:
%%capture --no-display

# Configure the map plot

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [29]:
# Narrow down cities that fit criteria and drop any results with null values
ideal_weather = city_data_df.loc[(city_data_df["Max Temp"] >= 10) & 
                            (city_data_df["Max Temp"] < 30).dropna()]

display(ideal_weather)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
14,Puerto Natales,4,CL,1692240978,81,-51.7236,-72.4875,24.93,3.56
16,Grytviken,45,GS,1692240979,87,-54.2811,-36.5092,27.91,15.61

### Step 3: Create a new DataFrame called `hotel_df`.

In [30]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity

hotel_df = ideal_weather[["City", "Country", "Lat", "Lng", "Humidity"]].copy()
# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
hotel_df["Hotel Name"] = " "
# Display sample dat
hotel_df

              City Country      Lat      Lng  Humidity Hotel Name
14  Puerto Natales      CL -51.7236 -72.4875        81
16       Grytviken      GS -54.2811 -36.5092        87

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [31]:
# Set parameters to search for a hotel
radius = 10000
categories = ["accommodation.hotel"]
params = {"categories": categories,
"apiKey" : geoapify_key
}
# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    latitude = row["Lat"]
    longitude = row["Lng"]

    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = f"circle:{longitude},{latitude},{radius}"
    params["bias"] = f"proximity:{longitude},{latitude}"
    
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"


    # Make and API request using the params dictionaty
    name_address = requests.get(base_url, params = params)
    
    
    # Convert the API response to JSON format
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

Starting hotel search
Puerto Natales - nearest hotel: No hotel found
Grytviken - nearest hotel: No hotel found

              City Country      Lat      Lng  Humidity      Hotel Name
14  Puerto Natales      CL -51.7236 -72.4875        81  No hotel found
16       Grytviken      GS -54.2811 -36.5092        87  No hotel found

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [35]:
%%capture --no-display

# Configure the map plot